body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
	color: #ffffff;
	text-decoration: none;
}
	a:hover {
		color: #575ba5;
	}
#container {
	min-width: 960px;
	max-width: 1366px;	
	margin: 0 auto;
}
#header {
	margin: 0;
	height:100px;
}
	#top_menu {
		background-image: url("images/background_about.png");
		height: 36px;	
	}
		#menu {
		font-size: 19px;
		font-family: "Myriad Pro";
		color: #ffffff;
		text-transform: uppercase;
		line-height: 1;
		text-align: left;
		margin: 0 0 0 297px;
		padding: 9px 0 0 0;
	}
		#logo {
		position:absolute;
		padding: 0;
		margin: 0 0 0 156px;
	}
		#top_text {
		height: 64px;
		background: #ffffff;
		box-shadow: 0 5px 5px -5px #000000;
		-moz-box-shadow: 0 5px 5px -5px #000000;
	}
		#top_text span {
			margin:0 0 0 307px;
			font-size: 23px;
			font-family: "Perpetua Titling MT";
			color: #000000;
			line-height: 1;
			text-align: left;
			vertical-align:-25px;
		}
		#social {
		float:right;
		margin:0 165px 0 0;		
		}
		#social li {
			display: inline;
			opacity:0.8;
		}
		#social li:hover {
			opacity:1;
		}
		#social .facebook {
			background-image: url("images/facebook.png");
			background-repeat:no-repeat;
			padding: 14px 26px 0 0;
			margin:0;
		}
		#social .twitter {
			background-image: url("images/twitter.png");
			background-repeat:no-repeat;
			padding: 14px 26px 0 0;
		}
		#social .linkedin {
			background-image: url("images/linkedin.png");
			background-repeat:no-repeat;
			padding: 14px 26px 0 0;		
		}
#main {}

	#content {
		background: url("images/wood.jpg");
		margin: 0 auto;
		min-width: 960px;
		max-width: 1366px;
		box-shadow:inset 0 35px 65px #000000;
		-moz-box-shadow:inset 0 35px 65px #000000;		
	}
		#content .middle {
			height: 650px;
			background: #ffffff;
		}
		#content .slide_box {
			background: url("images/wood.jpg");
			margin: 0 auto;
			min-width: 960px;
			max-width: 1366px;
			height: 276px;		
		}
		#content  .profile {
			box-shadow: 0 2px 2px -2px #000000;
			-moz-box-shadow: 0 2px 2px -2px #000000;				
		}
		#content  .photo {
			background: url("images/photo.png");
			background-repeat: no-repeat;
			margin-top:-112px;
			margin-left: 154px;
			width: 180px;
			height: 189px;
		}
		#content .infoto {
			font-size: 25px;
			font-family: "Arial";
			color: #000000;
			line-height: 1;
			text-align: left;
			margin:-56px 0 0 356px;
			height:86px;
		}
		#content .our_pro {
			font-size: 23px;
			font-family: "Arial";
			line-height: 1;
			text-align: left;
			margin:20px 0 0 160px;
		}
		#content .our_pro_in {
			font-size: 13px;
			font-family: "HelveticaCE";
			color: rgb( 88, 85, 85 );
			line-height: 2;
			text-align: justify;
			margin:20px 0 0 160px;
			width: 432px;
		}
		#content .blockinfo {
			margin:-198px 0 0 637px;
			width:500px;
		}
		#content .proj {
			margin:0 0 20px 0;
			font-size: 23px;
			font-family: "Arial";
			line-height: 1;
			text-align: left;
		}
		#content .item1 {
			background-image: url("images/lorem1.jpg");
			background-repeat: no-repeat;
			width: 148px;
			height: 115px;
			display: inline-block;
			box-shadow: 0 5px 5px #000000;
			-moz-box-shadow: 0 5px 5px #000000;
		}
		#content .item2 {
			background-image: url("images/lorem2.jpg");
			background-repeat: no-repeat;
			width: 148px;
			height: 115px;
			display: inline-block;
			box-shadow: 0 5px 5px #000000;
			-moz-box-shadow: 0 5px 5px #000000;
		}
		#content .item3 {
			background-image: url("images/lorem3.jpg");
			background-repeat: no-repeat;
			width: 148px;
			height: 115px;
			display: inline-block;
			box-shadow: 0 5px 5px #000000;
			-moz-box-shadow: 0 5px 5px #000000;	
		}
		#content .caption {
			font-size: 13px;
			font-family: "HelveticaNeue";
			color: rgb( 91, 91, 91 );
			line-height: 2;
			text-align: left;
			width:157px;
			height:20px;			  
			display: inline-block;
		}

#footer {
	margin: 0 auto;
	min-width: 960px;
	max-width: 1366px;
	height: 50px;
	box-shadow: 0 -5px 5px -5px #000000;
	-moz-box-shadow: 0 -5px 5px -5px #000000;  
}
			